/* src/components/Form.module.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

} */

/* .container {
    display: flex;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 50px;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #161618;
} */

.formContainer {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    min-width: 300px;
    min-height: 500px;
    border-radius: 35px;
    background-color: #16161896;
    z-index: 100;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(15px);
    border: none;
}

/* .formHeader {
    display: flex;
    align-items: baseline;
} */

/* .formTitle {
    font-size: 2.3rem;
    margin-right: 10px;
    font-weight: 600;
} */

/* .formSubtitle {
    font-size: 1rem;
    color: #fff;
    font-style: italic;
} */

/* .formWrapper {
    display: flex;
    flex-direction: row;
    background-color: #1f203100;
} */

.sidebar {
    width: auto;
    padding: 20px;
    background-color: #1f203100;
    display: flex;
    flex-direction: column;
}

.step {
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 25px;
    position: relative;
}

.activeStep {
    background-color: #36353a;
    font-weight: 600;
}

.completedStep {
    background-color: #62606b;
    color: #fff;
}

.pendingStep {

    color: #666;
}

.checkMark {
    position: relative;
    transform: translateY(-50%);
    margin-right: 5px;
}

/* .content {
    align-items: flex-start;
    flex: 1;
    padding: 20px;
} */

.formTitle {
    text-align: center;
    margin: 20px;
}

.formGroup {
    margin-bottom: 15px;
    color: #fff;
}

.formLabel {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

.formInput,
.formTextarea {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #36353a;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.formButton {
    padding: 10px 15px;
    background-color: #045a6d;
    /* width: 25%; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 10px;
}

.error {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
    font-style: italic;
}

.formOptions {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}