/* Custom Porto SVG Logo (initial state for animation inside slide) */
.custom-porto-svg-logo path {
		fill-opacity: 0;
		stroke-width: 1px;
		stroke: #FFF;
		stroke-dasharray: 630;
		stroke-dashoffset: 630;
		transition: ease stroke-dashoffset 5s, ease fill-opacity 1s 1.7s;
}

.custom-porto-svg-logo.active path {
		stroke-dashoffset: 0;
		fill-opacity: 1;
}

/* ------------------------------------------------- */


