@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #40e0d0;

    --background: 185 46.8% 4.48%;
    --foreground: 185 7.199999999999999% 97.8%;

    --muted: 185 36% 16.8%;
    --muted-foreground: 185 7.199999999999999% 55.6%;

    --popover: 185 50.6% 7.280000000000001%;
    --popover-foreground: 185 7.199999999999999% 97.8%;

    --card: 185 50.6% 7.280000000000001%;
    --card-foreground: 185 7.199999999999999% 97.8%;

    --border: 185 36% 16.8%;
    --input: 185 36% 16.8%;

    --primary: 185 72% 56%;
    --primary-foreground: 185 7.199999999999999% 5.6000000000000005%;

    --secondary: 185 36% 16.8%;
    --secondary-foreground: 185 7.199999999999999% 97.8%;

    --accent: 185 36% 16.8%;
    --accent-foreground: 185 7.199999999999999% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 185 7.199999999999999% 97.8%;

    --ring: 185 72% 56%;
  }
  .dark {
    --background: 0 0% 3.9%;

    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;

    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;

    --input: 0 0% 14.9%;

    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.test {
  --size: 45px;
  --line: rgba(
    255,
    255,
    255,
    0.274
  ); /* Change grid color to white with transparency */

  background: linear-gradient(
        90deg,
        var(--line) 1px,
        transparent 1px var(--size)
      )
      50% 50% / var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
      var(--size) var(--size);

  mask: linear-gradient(-20deg, transparent 50%, white);
  top: 0;
  transform-style: flat;
  pointer-events: none;
}

body {
  -ms-user-select: text;
  -webkit-user-select: text;
  user-select: text;
}

* {
  user-select: text !important; /* This forces text selection */
}

::selection {
  background-color: #3399ff; /* Adjust to your preferred highlight color */
  color: white; /* Adjust to your preferred text color */
}