@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

@layer base {
  :root {
    /* Custom color palette in hsl(hue, saturation%, lightness%) format */

    --gradient: hsl(185, 72%, 56%);

    --background: hsl(185, 46.8%, 4.48%);
    --foreground: hsl(185, 7.2%, 97.8%);

    --muted: hsl(185, 36%, 16.8%);
    --muted-foreground: hsl(185, 7.2%, 55.6%);

    --popover: hsl(185, 50.6%, 7.28%);
    --popover-foreground: hsl(185, 7.2%, 97.8%);

    --card: hsl(185, 50.6%, 7.28%);
    --card-foreground: hsl(185, 7.2%, 97.8%);

    --border: hsl(185, 36%, 16.8%);
    --input: hsl(185, 36%, 16.8%);

    --primary: hsl(185, 72%, 56%);
    --primary-foreground: hsl(185, 7.2%, 5.6%);

    --secondary: hsl(185, 36%, 16.8%);
    --secondary-foreground: hsl(185, 7.2%, 97.8%);

    --accent: hsl(185, 36%, 16.8%);
    --accent-foreground: hsl(185, 7.2%, 97.8%);

    --destructive: hsl(0, 62.8%, 30.6%);
    --destructive-foreground: hsl(185, 7.2%, 97.8%);

    --ring: hsl(185, 72%, 56%);

    --radius: 10px;
  }

  /* Dark Mode Color Palette in hsl(hue, saturation%, lightness%) format */
  .dark {
    --background: hsl(222, 12%, 17%);
    --foreground: hsl(0, 0%, 98%);

    --card: hsl(222, 12%, 17%);
    --card-foreground: hsl(0, 0%, 98%);

    --popover: hsl(0, 0%, 3.9%);
    --popover-foreground: hsl(0, 0%, 98%);

    --primary: hsl(0, 0%, 98%);
    --primary-foreground: hsl(0, 0%, 9%);

    --secondary: hsl(0, 0%, 14.9%);
    --secondary-foreground: hsl(0, 0%, 98%);

    --muted: hsl(0, 0%, 14.9%);
    --muted-foreground: hsl(0, 0%, 63.9%);

    --accent: hsl(0, 0%, 14.9%);
    --accent-foreground: hsl(0, 0%, 98%);

    --destructive: hsl(0, 62.8%, 30.6%);
    --destructive-foreground: hsl(0, 0%, 98%);

    --border: hsla(0, 0%, 29%, 0.541);
    --input: hsla(0, 2%, 35%, 0.432);

    --ring: hsl(0, 0%, 83.1%);

    --chart-1: hsl(220, 70%, 50%);
    --chart-2: hsl(160, 60%, 45%);
    --chart-3: hsl(30, 80%, 55%);
    --chart-4: hsl(280, 65%, 60%);
    --chart-5: hsl(340, 75%, 55%);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}


body {
  -ms-user-select: text;
  -webkit-user-select: text;
  user-select: text;
  font-family: var(--font-montserrat);
   /* font-family: 'Montserrat', sans-serif; */
}


* {
  user-select: text !important; /* This forces text selection */
}

::selection {
  background-color: #3399ff; /* Adjust to your preferred highlight color */
  color: white; /* Adjust to your preferred text color */
}


/* --------------------------------------- */


